<div style="float: left;width: 75%;">
<div class="container container-margin-left" style="width:100%">
        <div class="row default-padding">
            <div class="col-md-6" style="padding-left: 0px">
                <button class="btn btn-primary" (click)="doLogOut()">LogOut</button>
            </div>
            <div class="col-md-6 padding-transaction" style="padding-right: 0px">
                    <button class="btn btn-primary keep-right">Make a New Transaction</button>
                </div>
        </div>
<div class="row">
<div class="table-responsive table-color ">
    <table class="table table-inbox table-hover">
      <thead>
        <tr>
            <td class="inbox-small-cells">
                <input type="checkbox" class="mail-checkbox">
            </td>
            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
            <td class="view-message"><b>From Bank Name</b></td>
            <td class="view-message "><b>To Bank Name</b></td>
            <td class="view-message text-right"><b>Amount</b></td>
            <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
            <td class="view-message  text-right"><b>Date</b></td>
        </tr>
       </thead> 
        <tbody *ngFor="let record of data;let i=index">
          <tr class="unread" data="record" (click)="onclick(record,i)">
              <td class="inbox-small-cells">
                  <input type="checkbox" class="mail-checkbox" (click)="$event.stopPropagation()">
              </td>
              <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
              <td class="view-message  dont-show">{{record.fromBank}}</td>
              <td class="view-message ">{{record.toBank}}</td>
              <td class="view-message text-right">{{record.amount}}</td>
              <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
              <td class="view-message  text-right">{{record.date}}</td>
            </tr>
        <tr *ngIf="activeIndex==i && closeRowStatus">
            <td colspan="7">
                <div class="card" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Transaction Details</h4>
                            <div class="row">
                                <div class="col-md-2">
                            <img [src]="activeData.fromImgPath" alt="avatar" style="width: 75px;
                                 height: 75px; border-radius: 50%"/>
                                </div>
                                <div class="col-md-8">
                                         <div class="row">
                                             <div class="col-md-3" style="text-align: right
                                            ;padding-top: 4px;padding-bottom: 4px;">
                                                <label class="font-weight-bold">Receiver Name </label>
                                                </div>
                                            <div class="col-md-6">
                                                <input type="text" disabled class="form-control" [value]="activeData.receiverName"/>
                                            </div>
                                         </div>
                                            <div class="row" style="padding-top: 16px;">
                                                    <div class="col-md-3" style="text-align: right
                                                    ;padding-top: 4px;padding-bottom: 4px;">
                                                        <label class="font-weight-bold" >Description </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <textarea class="form-control" disabled>{{activeData.description}}</textarea>
                                                    </div>
                                                 </div>
                                         
                                                 <div class="row" style="padding-top: 16px;">
                                                        <div class="col-md-3" style="text-align: right
                                                       ;padding-top: 4px;padding-bottom: 4px;">
                                                           <label class="font-weight-bold">To Account No </label>
                                                           </div>
                                                       <div class="col-md-6">
                                                           <input type="number" disabled class="form-control" [value]="activeData.toAccountNo"/>
                                                       </div>
                                                    </div>
                                   
                                </div>
                                <div class="col-md-2">
                                        <img [src]="activeData.toBankImg" alt="avatar" style="width: 75px;
                                      height: 75px; border-radius: 50%"/>
                                            </div>
                            </div>

                          
                        </div>
                      </div>
                    </td>
        </tr>
       </tbody>
       </table>   
  </div>
</div>
</div>
</div>

<!-- <div id="widget-room" class="container col-md-5" 
style="min-height:100%;max-width:29%; background-color:white;float:right;" >

        <div class="card" style="width:400px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
</div> -->